@import 'variable';

.me {
  text-align: center;
  margin-top: 15rem;
}

.hundred-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  margin: 4rem 0 12rem 0;
}
.hundred-item {
  aspect-ratio: 1 / 1; // 正方形
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hundred-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  display: block;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 1.6rem;
  // JSで必要なときのみ display: flex; に変更
}

#popup-content {
  background: #fff;
  padding: 4rem;
  border-radius: 0.6rem;
  width: 40%;
  overflow: auto;

  img {
    height: auto;
    display: block;
    margin: 0 auto 3rem auto;
    border-radius: 0.2rem;
  }
}

@media (max-width: $tablet) {
  .hundred-list {
    grid-template-columns: repeat(3, 1fr);
  }

  #popup-content {
    background: #fff;
    padding: 2em;
    border-radius: 0.6rem;
    width: 60%;
    height: auto;
    overflow: auto;
  
    img {
      height: auto;
      display: block;
      margin: 0 auto 1em auto;
      border-radius: 0.3rem;
    }
  }
}


