@import "variable";

.single-works {
  margin-top: 15rem;
  margin-bottom: 15rem;
  text-align: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    margin-bottom: 2rem;
  }

  &__category {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__title {
    h1 {
      font-size: 4.4rem;
      font-weight: bold;
      margin-top: 3rem;
      line-height: 1.4;
    }
  }

  &__client {
    font-size: 2rem;
    font-weight: 500;
  }

  &__roles {
    margin-top: 28px;
    display: flex;
    gap: 8px;
    
    .work-tag {
      display: inline-flex;
      align-items: center;
      background: $text-navy;
      color: $color-white;
      font-size: 1.3rem;
      border-radius: 999px;
      padding: 0.7rem 1.5rem;
      font-weight: 700;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.8rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &--design::before   { background-image: url('../images/logo-design.svg'); }
      &--coding::before   { background-image: url('../images/logo-code.svg'); }
      &--photo::before    { background-image: url('../images/logo-camera.svg'); }
      &--direction::before{ background-image: url('../images/logo-direction.svg'); }
    }
  }

  &__image {
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6.8rem;
    
    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 0.6rem;
    }
  }

  &__body {
    text-align: left;
    margin-bottom: 8rem;

    .single-works__row {
      display: flex;
      align-items: flex-start;
      gap: 32rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
  

      .single-works__label {
        width: 400px;
        font-size: 1.8rem;
        font-weight: 700;
        color: $text-navy;
        flex-shrink: 0;
      }

      .single-works__text {
        font-size: 1.6rem;
        line-height: 2;
        color: $text-navy;
        padding-inline-end: 12.4rem;
      }
    }

    .gallery {
      video {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 0.6rem;
      }

      .sub-images {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;

        .image1 {
          flex: 1 1 0;
          max-width: 50%; // 2枚で横並び
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
          
          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            display: block;
            border-radius: 0.6rem; // お好みで
          }
        }
        
      }
    }
  }


  // レスポンシブ対応
  @media (max-width: $tablet) {
    .single-works {
      margin-top: 8rem;
      text-align: center;

      &__header {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
      }

      &__category {
        font-size: 1.2rem;
      }

      &__title {
        h1 {
          font-size: 2.2rem;
          margin-top: 1.6rem;
          line-height: 1.3;
        }
      }

      &__client {
        font-size: 1.6rem;
      }

      &__roles {
        margin-top: 16px;
        gap: 6px;
        flex-wrap: wrap; // タグが折り返せるように
        .work-tag {
          font-size: 1.2rem;
          padding: 0.4rem 1rem;
          &::before {
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.5rem;
          }
        }
      }

      &__image {
        margin-top: 2rem;
        margin-bottom: 2rem;
        img, video {
          border-radius: 0.6rem;
          max-width: 100%;
          height: auto;
        }
      }

      &__body {
        text-align: left;
        margin-bottom: 4rem;

        .single-works__row {
          padding: 6rem 0;
          flex-direction: column;
          gap: 1.2rem;

          .single-works__label {
            width: 100%;
            font-size: 1.1rem;
            margin-bottom: 0.3rem;
          }


          .single-works__text {
            font-size: 1.6rem;
            line-height: 1.6;
            padding-inline-end: 0;
          }
        }

        hr {
          margin: 10px 0;
        }

        .gallery {
          .sub-images {
            display: flex !important;
            flex-direction: column !important;
            gap: 1.2rem;
            
            .image1 {
              flex: none;
              width: 100%;
              max-width: 100%;
              
              img {
                width: 100%;
                height: 100%;
                aspect-ratio: 4/3;
                object-fit: cover;
                display: block;
                border-radius: 0.6rem;
              }
            }
          }
        }

      }


      .main-btn {
        display: block;
        text-align: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

