html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

$key-color: #FFD817;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #ECEFF1;
$text-navy: #263238;
$sub-text-gray: #90A4AE;

//Media Query
$mobile: 480px;
$tablet: 960px;

//Font-family
$main: 'Noto Sans JP', sans-serif;

html {
  font-family: $main;
  font-size: 62.5%;

  // reCAPTCHAバッジを非表示
  .grecaptcha-badge {
    visibility: hidden !important;
  }
}

h1 {
  font-size: 4.8rem;
  line-height: 80px;
  font-weight: 900;
}
h2 {
  font-size: 4rem;
  line-height: 60px;
  font-weight: 900;
}
h3 {
  font-size: 2.4rem;
  line-height: 38px;
  font-weight: 900;
}

p {
  font-size: 1.6rem;
  line-height: 26px;
}



