html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}
html .grecaptcha-badge {
  visibility: hidden !important;
}

h1 {
  font-size: 4.8rem;
  line-height: 80px;
  font-weight: 900;
}

h2 {
  font-size: 4rem;
  line-height: 60px;
  font-weight: 900;
}

h3 {
  font-size: 2.4rem;
  line-height: 38px;
  font-weight: 900;
}

p {
  font-size: 1.6rem;
  line-height: 26px;
}

.service-top {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2rem;
}
.service-top img {
  padding-bottom: 8px;
  width: 35px;
  height: auto;
}
.service-top .back-copy {
  font-size: 1.6rem;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
  position: relative;
  outline: none;
  padding-bottom: 6px;
  cursor: pointer;
}
.service-top .back-copy::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 0.22s ease;
  transition: -webkit-transform 0.22s ease;
  transition: transform 0.22s ease;
  transition: transform 0.22s ease, -webkit-transform 0.22s ease;
}
.service-top .back-copy:hover::after, .service-top .back-copy:focus-visible::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.web-create-main {
  margin-top: 7rem;
}
.web-create-main .web-create-title {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 8rem;
  margin-bottom: 16px;
}
.web-create-main .web-create-title .en {
  font-size: 2.4rem;
  font-weight: 700;
  margin-left: 2.4rem;
}
.web-create-main .web-create-desc {
  font-size: 1.6rem;
  margin-bottom: 10rem;
  line-height: 26px;
}

.web-create-image-area {
  -webkit-padding-start: 8rem;
          padding-inline-start: 8rem;
}
.web-create-image-area img {
  border-radius: 16px 0 0 16px;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.web-create-copy {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
.web-create-copy .main-copy {
  gap: 8px;
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 900;
  margin-bottom: 3.6rem;
}
.web-create-copy .main-copy .copy {
  display: inline-block;
  padding: 0.4em 0.8em;
  background: #FFD817;
}
.web-create-copy .main-copy .top {
  margin-bottom: 8px;
}

.strongs-point-section {
  background: #ECEFF1;
  padding-top: 16rem;
  padding-bottom: 16rem;
}
.strongs-point-section .strongs-point__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
}
.strongs-point-section .strongs-point__list .strongs-point__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 6rem 0;
  position: relative;
  margin-bottom: 2rem;
  gap: 12rem;
  border-bottom: 1px solid #90A4AE;
}
.strongs-point-section .strongs-point__list .strongs-point__item:last-child {
  border-bottom: none;
}
.strongs-point-section .strongs-point__list .strongs-point__item .left-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
}
.strongs-point-section .strongs-point__list .strongs-point__item .left-copy .num {
  display: inline-block;
  background: #FFD817;
  color: #000000;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 90rem;
  padding: 0.5em 1.2em;
  letter-spacing: 0.05em;
  margin-right: 3rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.strongs-point-section .strongs-point__list .strongs-point__item .left-copy .content-copy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.strongs-point-section .strongs-point__list .strongs-point__item .left-copy .content-copy .point-title {
  font-size: 2.4rem;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.strongs-point-section .strongs-point__list .strongs-point__item .strongs-point__item-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.strongs-point-section .strongs-point__list .strongs-point__item .strongs-point__item-desc {
  font-size: 0.98rem;
  line-height: 2;
}

.related-work {
  padding-top: 16rem;
}
.related-work .related-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.2rem;
  margin-top: 6rem;
}
.related-work .related-list .work-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 350px;
}
.related-work .related-list .work-card__visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2.4rem;
}
.related-work .related-list .work-card__visual img {
  aspect-ratio: 3/2;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.related-work .related-list .work-card__info {
  text-align: left;
  margin-top: 1.2rem;
}
.related-work .related-list .work-card__client {
  color: #90A4AE;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.related-work .related-list .work-card__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 2.5rem;
  color: #000000;
}
.related-work .related-list .work-card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.related-work .related-list .work-card .work-tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #263238;
  color: #FFFFFF;
  font-size: 1rem;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  font-weight: 700;
}
.related-work .related-list .work-card .work-tag::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.6rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.related-work .related-list .work-card .work-tag:nth-child(1)::before {
  background-image: url("../images/logo-design.svg");
}
.related-work .related-list .work-card .work-tag:nth-child(2)::before {
  background-image: url("../images/logo-code.svg");
}
.related-work .related-list .work-card .work-tag:nth-child(3)::before {
  background-image: url("../images/logo-camera.svg");
}

.contact {
  background-color: #FFD817;
}

@media (max-width: 960px) {
  .service-top {
    margin-top: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .service-top img {
    width: 28px;
    height: auto;
  }
  .service-top .back-copy {
    font-size: 1.4rem;
  }
  .web-create-main {
    margin-top: 4rem;
  }
  .web-create-main .web-create-title {
    font-size: 3.2rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  .web-create-main .web-create-title .en {
    font-size: 1.8rem;
    margin-left: 0 !important;
    display: block;
    margin-top: 0.5rem;
  }
  .web-create-main .web-create-desc {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    line-height: 1.6;
  }
  .web-create-image-area {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    margin: 0;
  }
  .web-create-image-area img {
    border-radius: 0;
    height: 250px;
  }
  .web-create-copy {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .web-create-copy .main-copy {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 2.4rem;
  }
  .web-create-copy .main-copy .copy {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.3em 0.6em;
    display: block;
    margin-bottom: 0.5rem;
  }
  .web-create-copy .main-copy .top {
    margin-bottom: 0.5rem;
  }
  .strongs-point-section {
    margin: 0 2rem;
    padding: 5rem 0;
    border-radius: 3rem;
  }
  .strongs-point-section .strongs-point__list {
    margin-top: 3rem;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 0;
    gap: 4rem;
    margin-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item:nth-child(even) .right-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item:nth-child(even) .left-copy {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item .left-copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item .left-copy .num {
    font-size: 1.4rem;
    padding: 0.4em 1em;
    margin-right: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item .left-copy .content-copy {
    text-align: center;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item .left-copy .content-copy .point-title {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item .left-copy .content-copy p {
    text-align: left;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item .right-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .strongs-point-section .strongs-point__list .strongs-point__item .right-img img {
    max-width: 100%;
    height: auto;
  }
  .related-work {
    padding-top: 8rem;
  }
  .related-work .related-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
  }
  .related-work .related-list .work-card {
    min-width: auto;
  }
  .related-work .related-list .work-card__visual {
    margin-bottom: 1.6rem;
  }
  .related-work .related-list .work-card__visual img {
    aspect-ratio: 16/9;
  }
  .related-work .related-list .work-card__title {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
  .related-work .related-list .work-card__client {
    font-size: 1.2rem;
  }
  .related-work .related-list .work-card__tags {
    gap: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .related-work .related-list .work-card .work-tag {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
  .related-work .related-list .work-card .work-tag::before {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.4rem;
  }
}